langchain_community
langchain_core
langchain
pandas
matplotlib
pydantic
streamlit
numpy
contourpy
cycler
fontTools
kiwisolver
scipy
tabulate
zstandard
dataframe-api-compat
fsspec
gcsfs
s3fs
pandas-gbq
email-validator
python-dotenv